/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */

* {
    box-sizing: border-box;
}

/******************************************
/* BASE
/*******************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    max-width: 30rem;
    margin-bottom: 3.2rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 3rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p+p {
    margin-top: 1.6rem;
}

/******************************************
/* LAYOUT
/*******************************************/

footer {
    /* display: none; */
}

/* HEADER */

.navLogo,
.letsTalk {
    flex-grow: 1;
    flex-basis: 0;
}

.navLogo,
#hamburger {
    font-size: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
}

.navMenu,
.letsTalk {
    display: none;
}

.navLogo,
.navLink,
#hamburger {
    color: #696969;
}

/* MAIN */

#kiel {
    padding: 1rem 1.5rem;
}

#gone {
    display: none;
}

/* PICTURES */

#pictures {
    margin: 3.2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

#pictures>* {
    transform: skew(-9deg, 7deg);
    height: 8rem;
}

#something {
    padding: 1rem 1.5rem;
}

.black {
    background-color: black;
    color: white;
}

/* MEET THE TEAM */

#meetTheTeam {
    text-align: center;
}

#founders {
    text-align: center;
    padding: 1.6rem 1.5rem;
}

#founders img {
    max-height: 30rem;
    border-right: 5rem solid #e7e7e7;
    border-top: 4rem solid #e7e7e7;
    border-bottom: 4rem solid #e7e7e7;
}

.founderInfo {
    margin: 1.6rem 0;
}

#employees {
    padding: 1.6rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}


/******************************************
/* MODULE
/*******************************************/

.inner {
    padding: 1rem 1.5rem;
}

/******************************************
/* STATE
/*******************************************/

/******************************************
/* MEDIA QUERIES
/*******************************************/

@media only screen and (min-width: 768px) {

    #hamburger {
        display: none;
    }

    .navMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3.6rem;
    }

    .letsTalk {
        display: flex;
        justify-content: right;
    }
}