/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */

* {
  box-sizing: border-box;
}

/******************************************
/* BASE
/*******************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    max-width: 30rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 3rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

footer {
    display: none;
}

/* HEADER */

.navLogo,
.letsTalk {
    flex-grow: 1;
    flex-basis: 0;
}

.navLogo,
#hamburger {
    font-size: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.navMenu,
.letsTalk {
    display: none;  
}

.navLogo,
.navLink,
#hamburger {
    color: #696969;
}

/* MAIN */



/******************************************
/* STATE
/*******************************************/

/******************************************
/* MEDIA QUERIES
/*******************************************/

@media only screen and (min-width: 768px) {

    #hamburger {
        display: none;
    }

    .navMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3.6rem;
    }

    .letsTalk {
        display: flex;
        justify-content: right;
    }
}

@media only screen and (min-width: 1024px) {

    .navMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
