/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */

* {
  box-sizing: border-box;
}

/******************************************
/* BASE
/*******************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    max-width: 30rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 3rem;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
